<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
  <mapper namespace="com.amitaaa.spring.ex.miniP.dao.PensionDAO">
  	
  	<select id="selectBooking" resultType="com.amitaaa.spring.ex.miniP.model.Booking">
  		SELECT
  			`id`
  			,`name`
  			,`headcount`
  			,`day`
  			,`date`
  			,`phoneNumber`
  			,`state`
  			,`createdAt`
  			,`updatedAt`
  		FROM
  			`booking`
  			
  			
  	</select>
  	
  	<insert id="insertBooking" parameterType="map">
  		INSERT INTO
  			`booking`
  		(
  			`name`
  			,`headcount`
  			,`day`
  			,`date`
  			,`phoneNumber`
  			,`state`
  			,`createdAt`
  			,`updatedAt`
  		)
  		VALUES
  		(
  			#{name}
  			,#{headcount}
  			,#{day}
  			,#{date}
  			,#{phoneNumber}
  			,#{state}
  			, now()
  			, now()
  		)
  			
  			
  		
  	
  	</insert>
  	
  	<delete id="deleteBooking" parameterType="int">
  		DELETE FROM
  			`booking`
  		WHERE
  			`id` = #{id}
  	
  	</delete>
  	
  	<select id="selectLookupBooking" parameterType="map" resultType="com.amitaaa.spring.ex.miniP.model.Booking">
  		SELECT
  			`id`
  			,`name`
  			,`headcount`
  			,`day`
  			,`date`
  			,`phoneNumber`
  			,`state`
  			,`createdAt`
  			,`updatedAt`
  		FROM
  			`booking`
  		WHERE
  			`name` = #{name}
  			AND `phoneNumber` = #{phoneNumber}
  		
  	</select>
  
  
  </mapper>

