<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 
  <mapper namespace="com.amitaaa.spring.ex.jsp.dao.MarketDAO">
  	<insert id="insertSeller" parameterType="map">
  		INSERT INTO
  			`seller`
  		(
  			`nickname`
  			, `profileImage`
  			, `temperature`
  			, `createdAt`
  			, `updatedAt`
  		)
  		VALUES
  		(
  			#{nickname}
  			, #{profileImage}
  			, #{temperature}
  			, now()
  			, now()
  		)
  		
  	
  	</insert>
  	
  	<select id="selectSeller" resultType="com.amitaaa.spring.ex.jsp.model.Market">
  		
  		
  		<!-- 2번 문제 seller 출력
  		SELECT
  			`id`
  			,`nickname`
  			,`profileImage`
  			,`temperature`
  			,`createdAt`
  			,`updatedAt`
  		FROM
  			`seller`
  		ORDER BY
  			`id` DESC
  		LIMIT 1
  		
  		 -->
  		 
  		 SELECT
  			`id`
  			,`nickname`
  			,`profileImage`
  			,`temperature`
  			,`createdAt`
  			,`updatedAt`
  		FROM
  			`seller`
  		WHERE
  			`id` = #{id}
  		LIMIT 1
  		 
  		
  	
  	</select>
  
  
  </mapper>
  
  
  